


* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    font-size: 2.5rem;
    color: #fff;
    background: linear-gradient(45deg, #fbc6a4, #f4a9a8, #ce97b0, #afb9c8);
    background-size: 200% 200%;
    animation: bg-mudando 5s infinite; 
     
}

@keyframes bg-mudando {
    0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
     
}