* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #8EDCE6;
}
.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}



.loader {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 5px;
    
}

.loader:first-child {
    
    animation: move-1 2s infinite;
     left: 45%;
     top: 45%;
     position: absolute;
}
.loader:nth-child(2) {
    position: absolute;
    animation: move-2 2s infinite;
    left: 52%;
    top: 45%;
    
}
.loader:nth-child(3) {
    position: absolute;
    animation: move-3 2s infinite;
    left:45%;
    top: 57%;
    position: absolute;
}







@keyframes move-1 {
    25% {
        left: 52%;
        top: 45%;
    }

    50% {
        left: 52%;
        top: 57%; 
    }

    75% {
        left: 45%;
        top: 57%; 
    }

  
}

@keyframes move-2 {
    25% {
        left: 52%;
        top: 57%;
    }

    50% {
        left: 45%;
        top: 57%; 
    }

    75% {
        left: 45%;
        top: 45%; 
    }
}

@keyframes move-3 {
    25% {
        left: 45%;
        top: 45%;
    }

    50% {
        left: 52%;
        top: 45%; 
    }

    75% {
        left: 52%;
        top: 57%; 
    }
}