@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #f4f4f4;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.container .circle {
  height: 200px;
  width: 200px;
  background: -webkit-gradient(linear, left top, left bottom, from(#086375), to(#1DD3B0));
  background: linear-gradient(#086375, #1DD3B0);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: move-color 1s infinite;
          animation: move-color 1s infinite;
}

.container .circle .small-circle {
  height: 180px;
  width: 180px;
  background-color: #f4f4f4;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container p {
  font-family: 'Baloo Tammudu 2', cursive;
  color: #086375;
  position: absolute;
  z-index: 1;
}

@-webkit-keyframes move-color {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes move-color {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
