* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h1 {
    color: #aa96da;
    font-size: 5rem;
    position: relative;
}

.container h1::before{
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    background: #fff;
    opacity: 0.5;
    transition: 1s;

}

.container h1:hover:before {
    width: 100%;
    
}